.login-content {
    background-color: transparent !important;
}

.login-header {
    border-bottom: 1px solid rgba(0, 0, 0, .2) !important;
}

.login-container {
    -ms-flex-align: center;
    align-items   : center;
    display       : -ms-flexbox;
    display       : flex;
    height        : 100vh;
}